.instrucciones {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 249, 250, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titulo {
    margin-top: 80px;
    font-size: 24px;
}
.steps {
    max-width: 700px; /* Limita el ancho de los pasos */
    width: 100%;
    text-align: justify
}

.step {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.step-image {
    width: 250px; 
    height: 130px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.step-content {
    flex: 1;
}

.step-title {
    font-size: 18px; 
    color: #0056b3;
    margin-bottom: 5px; 
}

.step-description {
    font-size: 14px; 
    color: #666;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 0;
}

@media (max-width: 768px) {
    .instrucciones {
        justify-content: normal;
        position: relative !important;
    }

    .titulo {
        margin-top: 10px;
        text-align: center;
    }

    .step {
        display: block;
        text-align: justify;
        margin: 20px auto;
    }

    .step-image {
        width: 100%; 
        height: auto; 
        margin-bottom: 10px; 
    }

    .step-title {
        font-size: 16px;
    }

    .step-description {
        font-size: 18px;
    }

    footer {
        padding: 10px;
    }
}
