@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row">
        <section class="col-md-12">
            @if (ViewBag.Usuario != null)
            {
                <h2>Bienvenido, @ViewBag.Usuario.Nombre!</h2>
            }
            else
            {
                <h2>Bienvenido!</h2>
            }
        </section>
    </div>
</main>
