@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row">
        <section class="col-md-12">
            @if (ViewBag.Usuario != null)
            {
                <h2>Welcome, @ViewBag.Usuario.Nombre!</h2>
                <p>You are now logged in. Enjoy exploring our website.</p>
            }
            else
            {
                <h2>Welcome!</h2>
                <p>Please log in to access the full features of our website.</p>
            }
        </section>
    </div>
</main>
