<style>
    .contenido {
        padding: 20px;
        margin-top: 20px;
    }

    h2 {
        padding: 20px 0px 20px 0px;
        text-align: center;
    }
</style>
<body class="contenido">

    <div class="container">
        <h2>Instrucciones de Uso</h2>
        <div class="steps">
            <div class="step">
                <img src="~/Images/Logos/encender.png" class="step-image" alt="Encender el Dispositivo">
                <div class="step-content">
                    <h2 class="step-title">Encender el Dispositivo</h2>
                    <p class="step-description">Localiza el interruptor de encendido/apagado en el dispositivo.</p>
                </div>
            </div>
            <div class="step">
                <img src="~/Images/Logos/tarjeta-sim.png" class="step-image" alt="Insertar la Tarjeta SIM">
                <div class="step-content">
                    <h2 class="step-title">Insertar la Tarjeta SIM</h2>
                    <p class="step-description">Abre la cubierta que protege el espacio para la tarjeta SIM.</p>
                </div>
            </div>
            <div class="step">
                <img src="~/Images/Logos/luces.png" class="step-image" alt="Verificar la Disponibilidad">
                <div class="step-content">
                    <h2 class="step-title">Verificar la Disponibilidad</h2>
                    <p class="step-description">Observa las luces indicadoras. Si las luces rojas parpadean, significa que el dispositivo está listo para su uso.</p>
                </div>
            </div>
            <div class="step">
                <img src="~/Images/Logos/credito.png" class="step-image" alt="Asegurar Crédito o Paquete de Datos en la Tarjeta SIM">
                <div class="step-content">
                    <h2 class="step-title">Asegurar Crédito o Paquete de Datos en la Tarjeta SIM</h2>
                    <p class="step-description">Asegúrate de que la tarjeta SIM tenga crédito o un paquete de datos y SMS activo.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>¡Listo! Ahora puedes utilizar el Rastreador de Mascotas PetMap para mantener a tu mascota segura y localizable en todo momento. ¡Diviértete explorando las aventuras de tu peludo amigo!</p>
    </footer>
</body>
