<head>
    <link href="~/Estilos/Instrucciones.css" rel="stylesheet" />
</head>
<div class="instrucciones">
    <h2 class="titulo">Instrucciones de Uso</h2>
    <div class="steps">
        <div class="step">
            <img src="~/Estilos/Imagenes/instruccionesImg/onoff.jpeg" class="step-image" alt="Encender el Dispositivo">
            <div class="step-content">
                <h2 class="step-title">Encender el Dispositivo</h2>
                <p class="step-description">Localiza el interruptor de encendido/apagado en el dispositivo. Se encendera una luz led, si no enciende revisar la bateria</p>
            </div>
        </div>
        <div class="step">
            <img src="~/Estilos/Imagenes/instruccionesImg/smsbienvenida.jpeg" class="step-image" alt="Insertar la Tarjeta SIM">
            <div class="step-content">
                <h2 class="step-title">Esperar mensaje de bienvenida</h2>
                <p class="step-description">Una vez recibez el mensaje. es to quiere decir que el dispositivo esat listo para recibir mensajes y enviarte las cooredenadas esto tarda aproximadamente 30 segundos, si no llega el mensaje rebisa que la simcard tenga saldo suficiente(aproximandamente un SMSM cuesta 60 pesos en Colombia 2024)</p>
            </div>
        </div>
        <div class="step">
            <img src="~/Estilos/Imagenes/instruccionesImg/coordenadas.jpeg" class="step-image" alt="Verificar la Disponibilidad">
            <div class="step-content">
                <h2 class="step-title">Enviar un SMS</h2>
                <p class="step-description">Cuando envias el mensaje el dispositivo te va a responder con las coordenadas donde se encuentra.</p>
            </div>
        </div>
        <div class="step">
            <img src="~/Images/Logos/credito.png" class="step-image" alt="Asegurar Crédito o Paquete de Datos en la Tarjeta SIM">
            <div class="step-content">
                <h2 class="step-title">Asegurar Crédito o Paquete de Datos en la Tarjeta SIM</h2>
                <p class="step-description">Asegúrate de que la tarjeta SIM tenga crédito o un paquete de datos y SMS activo.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>¡Listo! Ahora puedes utilizar el Rastreador de Mascotas PetMap para mantener a tu mascota segura y localizable en todo momento. ¡Diviértete explorando las aventuras de tu peludo amigo!</p>
    </footer>
</div>
